@model AcoStand.Models.Utilizadores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilizadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUtilizador">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
