@model IEnumerable<AcoStand.Models.Artigos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dono.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Designacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArtigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArtigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArtigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
